:root {
    --white: #fff;
    --darkpurple: rgb(8, 0, 70);
    --mediumpurple: rgb(45, 0, 206); 
    --lightblue: rgb(94,187,255); 
    --lightgreen: rgb(0, 214, 18);
    --lightorange: rgb(255, 110, 32);
    }