:root {
    --white: #fff;
    --lightpurple:  rgb(101, 60, 250); 
    --darkpurple: rgb(45, 0, 180);
    --mediumpurple: rgb(45, 0, 206); 
    --lightblue: rgb(94,187,255); 
    --lightgreen: rgb(0, 214, 18);
    --lightorange: rgb(255, 154, 100);
    }